.a__comp {
  color: var(--color1);
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 119.3%;
  border: 1px solid var(--color1);
  padding: 12px 20px;
  text-decoration: none;
}