.concat__three__conatin {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: fit-content;
  padding: 25px 18px;
  position: relative;

}

.concat__three__conatin p {
  color: var(--color1);
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  padding-left: 15px;
}

.concat__three__conatin .concat__three__adress {
  position: relative;
  display: flex;
    column-gap: 12px;
    align-items: center;
    width: 100%;
    
}



.concat__three__conatin .concat__three__adress img {
  width: 32px;
  height: 32px;
}

.concat__three__conatin .concat__three__adress p {
  color: var(--color1);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 2.08px;
  text-transform: capitalize;
  width: 280px;
  margin: 11px 0;
}

@media (max-width: 376px) {
  .concat__three__conatin .concat__three__adress {
    column-gap: 5px;
  }
  .concat__three__conatin .concat__three__adress p {
    font-size: 14px;
    width: 240px;
  }
}

