.aboutus__data {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 26px;
}

@media (max-width: 945px) {
  .aboutus__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
}

.aboutusinfo__contan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 694px;
}

@media (max-width: 1100px) {
  .aboutusinfo__contan {
    width: 612px;
  }
}
@media (max-width: 950px) {
  .aboutusinfo__contan {
    width: 580px;
  }
}

@media (max-width: 945px) {
  .aboutusinfo__contan  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 615px) {
  .aboutusinfo__contan {
    width: 480px;
  }
}
@media (max-width: 522px) {
  .aboutusinfo__contan {
    width: 340px;
  }
}

.aboutusinfo__contan h4 {
  color: var(--color3);
  text-align: left;
  font-size: 36px;
  font-family: Dancing Script;
  font-style: normal;
  font-weight: 700;
  line-height: 117.3%;
  letter-spacing: 3.6px;
  margin: 5px 0;
}

@media (max-width: 615px){
  .aboutusinfo__contan h4 {
    font-size: 30px;
  }
}

@media (max-width: 522px) {
  .aboutusinfo__contan h4 {
    font-size: 27px;
    margin: 0;
  }
}

.aboutusinfo__contan .aboutus__title {
  color: #fffffc;
  font-size: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 117.3%;
  text-transform: capitalize;
  width: 660px;
  margin: 0 0 8px;
}
@media (max-width: 1000px) {
  .aboutusinfo__contan .aboutus__title {
    width: 551px;
    font-size: 27px;
  }
}

@media (max-width: 615px) {
  .aboutusinfo__contan .aboutus__title {
    width: 465px;
    font-size: 22px;
  }
}

@media (max-width: 522px) {
  .aboutusinfo__contan .aboutus__title {
    width: 320px;
    font-size: 18px;
    margin: 0;
  }
}



.aboutusinfo__contan .aboutus__prah {
  color: #fffffc;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 155.3%;
  letter-spacing: 1.82px;
  text-transform: capitalize;
  width: 565px;
  font-size: 14px;
  height: 171px;
}

@media (max-width: 715px) {
  .aboutusinfo__contan .aboutus__prah {
    padding-bottom: 30px;
  }
}

@media (max-width: 615px) {
  .aboutusinfo__contan .aboutus__prah {
    width: 465px;
    padding-bottom: 40px;
  }
}

@media (max-width: 522px) {
  .aboutusinfo__contan .aboutus__prah {
    width: 320px;
    font-size: 13.5px;
    padding-bottom: 100px;
  }
}

.food__Image {
  width: 290px;
  object-fit: contain;
  background-repeat: no-repeat;
  padding-top:1px;
  overflow: hidden;
}
