:root {
  --color1: #FFFFFF; /* أبيض */
  --color2: #FFFCCC; /*  أبيض برضو يس مصفر */
  --color3: #FFCE6D; /* بيج */
  --color4: #A08040; /* بيج برضو بس غامق */
  --color5: #101418; /* اسمر */
  --color6: #000000; /* اسود */
  
}



