.reviews__page {
  height: 90vh;
  width: 100%;
  position: relative;
  padding-top: 2.5rem;
}

.reviews__page .reviews__for__Contain {
  display: flex;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


/* .swiper {

} */

.swiper-slide {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;

}


.swiper-button-prev,
.swiper-button-next {
  color: var(--color3) !important;

}

.swiper-button-prev {
  margin-left: 10px !important;
}

.swiper-button-next {
  margin-right: 15px !important;
}