.menuepage__page {
  height: 100vh;
  width: 100%;
  position: relative;
}

@media (max-width: 1400px){
  .menuepage__page {
    height: 100%;    
  }
}

.menue__contain__all {
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: relative;
    gap: 20px;
    padding: 20px 0 30px;
}

@media (max-width: 1070px) {
  .menue__contain__all {
    grid-template-columns: repeat(1, 1fr);
  }
}



.menu__item {
  column-gap: 5px;
  max-width: 490px;
  min-width: 454px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative; 
}

@media (max-width: 501px) {
  .menu__item {
    min-width: 304px;
  }
}

.menu__item .img__item {
  width: 64px;
  height: 64px;
}

/* .menu__item .contain__prah {} */

.menu__item .contain__prah .prah__tit {
  font-size: 16px;
  font-weight: 700;
}
.menu__item .contain__prah .prah__tit_text {
  font-size: 14px;
  font-weight: 400;
}

.menu__item .contain__prah .prah__tit,
.menu__item .contain__prah .prah__tit_text {
  margin: 0;
  color: var(--color1);
  font-family: Roboto;
  line-height: normal;
}

@media (max-width: 501px) {
  
  .menu__item .contain__prah {
    width: 170px;
  }

  .menu__item .contain__prah .prah__tit {
    font-size: 14px;
    font-weight: 600;
  }
  .menu__item .contain__prah .prah__tit_text {
    font-size: 13px;
    font-weight: 350;
  }
}

.menu__item .img__vect {
  width: 123px;
}

@media (max-width: 500px) {
  .menu__item .img__vect {
    width: 40px;
    object-fit: cover;
  }
}
@media (max-width: 613px) {
  .menu__item .img__vect {
    display: none;
  }
}


.menu__item strong {
  color: var(--color3);               
  text-align: right;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
