.reviews__page {
  height: 90vh;
  width: 100%;
  position: relative;
  padding-top: 2.5rem;
}

.reviews__page .reviews__for__Contain {
  display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}