.aboutus__page {
  height: 60vh;
  width: 100%;
  position: relative;
}

@media (max-width: 945px) {
  .aboutus__page {
    height: 100%;
    overflow: hidden;
    padding-block: 2rem 4rem;
  }
}

/* @media (max-width: 500px ) {
  .aboutus__page {
    height: 100%;
    overflow: hidden;
  }
} */